# --- macOS ---
.DS_store

# --- Intellij ---
*/.idea
*/target/

# --- Mise ---
mise.toml

# --- VSCode ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

